<!DOCTYPE html> <!-- Document Type Definition-->
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <!-- @jaeseung : for TAB -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>

    <link href="https://netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css"
          rel="stylesheet">
    <link href="https://netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap-glyphicons.css"
          rel="stylesheet">
    <link rel="shortcut icon" href="http://rb20.kimsq.co.kr/rb2/layouts/default/assets/ico/favicon.ico">

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="http://d3js.org/d3.v3.min.js"></script>
    <script src="https://d3js.org/d3-collection.v1.min.js"></script>

    {% load staticfiles %}

    <title>고령자 의도 학습 데모</title>

    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.0.3/socket.io.js"></script>

    <!-- Bootstrap -->

    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
          integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"
            integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa"
            crossorigin="anonymous">
    </script>

    <script src="https://d3js.org/d3.v3.min.js"></script>
    <script type="text/javascript"
            src="https://cdnjs.cloudflare.com/ajax/libs/jquery-cookie/1.4.1/jquery.cookie.min.js"></script>
</head>

<body style="background-image: url({% static 'images/back-home.jpg' %});background-size: cover;background-repeat: no-repeat;z-index: -1;"></body>

<div class="container">

    <div class="row" ,
         style="margin-top: 15px; border: hidden; padding-left: 16px; padding-right:16px; max-height: 77px">
        <!-- 제목부 Smart Butler Reasoner -->
        <div class="jumbotron" style="padding-top: 7px; padding-bottom: 7px; background-color: #02547D;">
            <!-- HTML은 6단계의 제목을 갖고, <h1> ~ <h6> 단계로 표현됨 -->
            <!-- <h1> Main Title </h1>
            <h2> Top Level Heading </h2>
            <h3> Subheading </h3>
            <h4> Sub-subheading </h4>-->
            <h2 style="color: aliceblue; font-size: 35px; font-weight: bold;" align="center">고령자 의도 학습 및 복합 상황 추론</h2>
            <!-- <p> 요소는 문자의 문단을 포함하기 위한 것; 일반적인 문자 내용을 나타낼 때 많이 사용됨 -->

        </div>
    </div>


    <div class="row" , style="margin-top: 10px; border: hidden; min-height: 600px;">


        <!-- @jaeseung : 0. Start from here! -->
        <div class="col-md-6" , style="border: hidden; min-height: 370px;">
            <!-- @jaeseung : 1. selectbox -->
            <div class="row" , style="border: hidden; min-height: 50px">
                <div class="col-md-12">
                    <div class="panel panel-success" style="border: none;  opacity: 1;">
                        <div class="panel-heading"
                             style="background-color: #5590BE; padding-bottom: 4px; border: none;">
                            <p style="color: aliceblue; font-size: 20px; font-weight: bold;">
                                <span class="glyphicon glyphicon-save-file"></span>
                                고령자 데이터
                                <select class="form-control" name="userid" id="select"
                                        style="background-color: #0284A8; width: 40%; float: right; font-size: 15px; color: #fffcfc"
                                        oninput="select(this)">
                                    <option value="select" selected disabled hidden style="text-align: center;">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;고령자 선택
                                    </option>
                                    <option value="김차순 고령자 데이터">김차순 고령자 데이터</option>
                                    <option value="도경자 고령자 데이터">도경자 고령자 데이터</option>
                                    <option value="이숙재 고령자 데이터">이숙재 고령자 데이터</option>
                                </select>
                            </p>
                        </div>
                    </div>
                </div>
            </div>
            <!-- @jaeseung : 2. play -->
            <div class="row" , style="border: hidden; min-height: 50px">
                <div class="col-md-12">
                    <div class="panel panel-success" style="border: none;  opacity: 1;">
                        <div class="panel-heading"
                             style="background-color: #5590BE; padding-bottom: 4px; border: none; font-weight: bold;">
                            <p style="color: aliceblue; font-size: 20px" id="playp">
                                <span class="glyphicon glyphicon-facetime-video"></span>
                                고령자 생활 영상
                            </p>
                        </div>
                        <div class="panel-body"
                             style="background-color: #FEFEFF; max-height: 300px; min-height: 373px;  position:relative;height:0;padding-bottom:56.25%;"
                             id="playd">
                            <video id="video-active" src="" width="100%" height="330px" controls></video>

                            <div style="width: 90px; float: left; font-weight:bold; font-size: 15px;">현재시간(s) : </div>
                            <div id="current" style="float: left; width: 100px;">0:00</div>
                            <div style="width: 105px; float: left; font-weight:bold; font-size: 15px;">총재생시간(s) : </div>
                            <div id="duration" style="float: left; width: 100px;">0:00</div>


                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-md-6" , style="border: hidden; min-height: 300px;">
            {% csrf_token %}
            <div class="row" , style="margin-top: 0px; border: hidden; min-height: 450px;">
                <div class="col-md-12">


                    <!-- @jaeseung : 3. result -->
                    <div class="row" , style="border: hidden;">
                        <div class="col-md-12">
                            <div class="panel panel-success" style="border: none;  opacity: 1;">
                                <div class="panel-heading"
                                     style="background-color: #5590BE; padding-bottom: 4px; border: none; font-weight: bold;">
                                    <p style="color: aliceblue; font-size: 20px">
                                        <span class="glyphicon glyphicon-align-left"></span>
                                        고령자 생활 패턴
                                    </p>
                                </div>
                                <div class="panel-body"
                                     style="background-color: #d9e8f5; max-height: 300px; height: 175px; padding: 5px;"
                                     id="bargraph">

                                </div>
                            </div>
                        </div>
                    </div>

                    <!-- @jaeseung : 4. percept -->
                    <div class="row" , style="border: hidden;">
                        <div class="col-md-12">
                            <div class="panel panel-success" style="border: none;  opacity: 1;">
                                <div class="panel-heading"
                                     style="background-color: #5590BE; padding-bottom: 4px; border: none; font-weight: bold;">
                                    <p style="color: aliceblue; font-size: 20px" id="perceptp">
                                        <span class="glyphicon glyphicon-list"></span>
                                        고령자 지각 정보
                                    </p>
                                </div>
                                <div class="panel-body"
                                     style="background-color: #d9e8f5; height: 198px; padding: 0px;"
                                     id="perceptd">
                                    <div class="w3-bar w3-black">
                                        <button class="w3-bar-item w3-button tablink1 w3-blue" onclick="openTab1(event,'atab')" style="width: 50%; padding: 0px;">A</button>
                                        <button class="w3-bar-item w3-button tablink1" onclick="openTab1(event,'btab')" style="width: 50%; padding: 0px;">B</button>
                                    </div>
                                    <div id="atab" class="tab1" style="border: none; height: 178px;">
                                        <div  id="achart" class="epoch" style="width: 100%; height: 100%;">

                                        </div>
                                    </div>
                                    <div id="btab" class="tab1" style="display:none; overflow:auto; height: 178px;"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- @jaeseung : 5. graph -->
        <div class="col-md-12">
            <div class="row" , style="border: hidden; min-height: 50px">
                <div class="col-md-12">
                    <div class="panel panel-success" style="border: none;  opacity: 1;">
                        <div class="panel-heading"
                             style="background-color: #5590BE; padding-bottom: 4px; border: none; font-weight: bold;">
                            <p style="color: aliceblue; font-size: 20px">
                                <span class="glyphicon glyphicon-stats"></span>
                                고령자 의도 추론 그래프
                            </p>
                        </div>
                        <div class="panel-body"
                             style="background-color: #d9e8f5; max-height: 300px; min-height: 260px; overflow:auto; padding: 10px;"
                             id="chart_div">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<link rel="stylesheet" type="text/css" href={% static "css/tests.css" %}>
<script src="http://code.jquery.com/jquery-1.10.1.min.js"></script>
<script src="http://d3js.org/d3.v3.min.js" charset="utf-8"></script>
<script src={% static "js/epoch.js" %}></script>
<link rel="stylesheet" type="text/css" href={% static "css/epoch.css" %}>
<script>
    var nextTime = (function() {
        var currentTime = parseInt(new Date().getTime() / 1000);
        return function() { return currentTime++; }
    })();
</script>
<script>
    var barChartData = [
        // First series
        {
            label: "Series 1",
            values: [ {time: 1370044800, y: 10}, {time: 1370044801, y: 10}, {time: 1370044801, y: 10}, {time: 1370044801, y: 10}, {time: 1370044801, y: 10},
            {time: 1370044800, y: 10}, {time: 1370044801, y: 10}, {time: 1370044801, y: 10}, {time: 1370044801, y: 10}, {time: 1370044801, y: 10},
            {time: 1370044800, y: 10}, {time: 1370044801, y: 10}, {time: 1370044801, y: 10}, {time: 1370044801, y: 10}, {time: 1370044801, y: 10},
            {time: 1370044800, y: 10}, {time: 1370044801, y: 10}, {time: 1370044801, y: 10}, {time: 1370044801, y: 10}, {time: 1370044801, y: 10},
            {time: 1370044800, y: 10}, {time: 1370044801, y: 10}, {time: 1370044801, y: 10}, {time: 1370044801, y: 10}, {time: 1370044801, y: 10},
            {time: 1370044800, y: 10}, {time: 1370044801, y: 10}, {time: 1370044801, y: 10}, {time: 1370044801, y: 10}, {time: 1370044801, y: 10},
            {time: 1370044800, y: 10}, {time: 1370044801, y: 10}, {time: 1370044801, y: 10}, {time: 1370044801, y: 10}, {time: 1370044801, y: 10},
            {time: 1370044800, y: 10}, {time: 1370044801, y: 10}, {time: 1370044801, y: 10}, {time: 1370044801, y: 10}, {time: 1370044801, y: 10},
            {time: 1370044800, y: 10}, {time: 1370044801, y: 10}, {time: 1370044801, y: 10}, {time: 1370044801, y: 10}, {time: 1370044801, y: 10},
            {time: 1370044800, y: 10}, {time: 1370044801, y: 10}, {time: 1370044801, y: 10}, {time: 1370044801, y: 10}, {time: 1370044801, y: 10},
            {time: 1370044800, y: 10}, {time: 1370044801, y: 10}, {time: 1370044801, y: 10}, {time: 1370044801, y: 10}, {time: 1370044801, y: 10}]
        },
        {
            label: "Series 2",
            values: [ {time: 1370044800, y: 10}, {time: 1370044801, y: 10}, {time: 1370044801, y: 10}, {time: 1370044801, y: 10}, {time: 1370044801, y: 10},
            {time: 1370044800, y: 10}, {time: 1370044801, y: 10}, {time: 1370044801, y: 10}, {time: 1370044801, y: 10}, {time: 1370044801, y: 10},
            {time: 1370044800, y: 10}, {time: 1370044801, y: 10}, {time: 1370044801, y: 10}, {time: 1370044801, y: 10}, {time: 1370044801, y: 10},
            {time: 1370044800, y: 10}, {time: 1370044801, y: 10}, {time: 1370044801, y: 10}, {time: 1370044801, y: 10}, {time: 1370044801, y: 10},
            {time: 1370044800, y: 10}, {time: 1370044801, y: 10}, {time: 1370044801, y: 10}, {time: 1370044801, y: 10}, {time: 1370044801, y: 10},
            {time: 1370044800, y: 10}, {time: 1370044801, y: 10}, {time: 1370044801, y: 10}, {time: 1370044801, y: 10}, {time: 1370044801, y: 10},
            {time: 1370044800, y: 10}, {time: 1370044801, y: 10}, {time: 1370044801, y: 10}, {time: 1370044801, y: 10}, {time: 1370044801, y: 10},
            {time: 1370044800, y: 10}, {time: 1370044801, y: 10}, {time: 1370044801, y: 10}, {time: 1370044801, y: 10}, {time: 1370044801, y: 10},
            {time: 1370044800, y: 10}, {time: 1370044801, y: 10}, {time: 1370044801, y: 10}, {time: 1370044801, y: 10}, {time: 1370044801, y: 10},
            {time: 1370044800, y: 10}, {time: 1370044801, y: 10}, {time: 1370044801, y: 10}, {time: 1370044801, y: 10}, {time: 1370044801, y: 10},
            {time: 1370044800, y: 10}, {time: 1370044801, y: 10}, {time: 1370044801, y: 10}, {time: 1370044801, y: 10}, {time: 1370044801, y: 10}]
        }
    ];

    $('#achart').epoch({
        type: 'time.bar',
        data: barChartData
    });
</script>
{% comment %}<script type="text/javascript">
  google.charts.load("current", {packages:["timeline"]});
  google.charts.setOnLoadCallback(drawChart);
  function drawChart() {

    var container = document.getElementById('achart');
    var chart = new google.visualization.Timeline(container);
    var dataTable = new google.visualization.DataTable();
    dataTable.addColumn({ type: 'string', id: 'Room' });
    dataTable.addColumn({ type: 'string', id: 'Name' });
    dataTable.addColumn({ type: 'date', id: 'Start' });
    dataTable.addColumn({ type: 'date', id: 'End' });
    dataTable.addRows([
      [ 'Pose', '앉다',       new Date(0,0,0,12,0,0),  new Date(0,0,0,13,30,0) ],
      [ 'Pose', '쪼그려앉아있다',    new Date(0,0,0,14,0,0),  new Date(0,0,0,15,30,0) ],
      [ 'Pose', '서있다',        new Date(0,0,0,16,0,0),  new Date(0,0,0,17,30,0) ],
      [ 'Activity',   '신문 보기',    new Date(0,0,0,12,30,0), new Date(0,0,0,14,0,0) ],
      [ 'Activity',   'TV 보기', new Date(0,0,0,14,30,0), new Date(0,0,0,16,0,0) ],
      [ 'Activity',   '음료수 마시기',     new Date(0,0,0,16,30,0), new Date(0,0,0,18,0,0) ]]);

    var options = {
      timeline: { colorByRowLabel: true }
    };

    chart.draw(dataTable, options);
  }

</script>{% endcomment %}
<script>
    // @jaeseung : Tab activate function
    function openTab1(evt, tabName) {
        var i, x, tablinks;
        x = document.getElementsByClassName("tab1");
        for (i = 0; i < x.length; i++) {
            x[i].style.display = "none";
        }
        tablinks = document.getElementsByClassName("tablink1");
        for (i = 0; i < x.length; i++) {
            tablinks[i].className = tablinks[i].className.replace(" w3-blue", "");
        }
        document.getElementById(tabName).style.display = "block";
        evt.currentTarget.className += " w3-blue";
    }
</script>
<script>
    google.charts.load('current', {packages: ['corechart', 'bar']});
    google.charts.setOnLoadCallback(drawChart);
    function drawChart() {
        var data = google.visualization.arrayToDataTable([
            ['성향', '수치', {role: 'style'}],
            ['사교적성향', 0, 'color: #0072BD; opacity: 0.8;'],
            ['TV 애청자', 0, 'color: #D95319; opacity: 0.8;'],
            ['소통적성향', 0, 'color: #EDB120; opacity: 0.8']
        ]);
        var options = {
            width: "80%",
            height: "80%",
            bar: {groupWidth: "100%"},
            legend: {position: "none"},
            hAxis: {
                viewWindowMode: 'explicit',
                viewWindow: {
                    min: 0,
                    max: 10
                },
                gridlines: {count: 5},
                textStyle:{
                    fontSize:12
                }
            },
            vAxis:{
                textStyle:{
                    bold:true,
                    fontSize:13
                }
            }
        };
        var chart = new google.visualization.BarChart(document.getElementById('bargraph'));
        chart.draw(data, options);
    }
</script>

<script type="text/javascript">
    google.charts.load("current", {packages: ['corechart']});
    google.charts.setOnLoadCallback(drawChart);
    function drawChart() {
        var data = google.visualization.arrayToDataTable([
            ['action', '수치', {role: 'style'}],
            ['다과', 0, 'color: #1F77B4; opacity: 0.8;'],
            ['독서하기', 0, 'color: #FF7F0E; opacity: 0.8;'],
            ['정리정돈', 0, 'color: #2CA02C; opacity: 0.8;'],
            ['음료마시기', 0, 'color: #D62728; opacity: 0.8;'],
            ['식사하기', 0, 'color: #9467BD; opacity: 0.8;'],
            ['청소하기', 0, 'color: #8C564B; opacity: 0.8;'],
            ['담소나누기', 0, 'color: #E377C2; opacity: 0.8;'],
            ['식사준비', 0, 'color: #7F7F7F; opacity: 0.8;'],
            ['전화통화', 0, 'color: #BCBD22; opacity: 0.8;'],
            ['TV시청', 0, 'color: #17BECF; opacity: 0.8;']
        ]);
        var view = new google.visualization.DataView(data);
        var options = {
            width: "100%",
            height: "100%",
            bar: {groupWidth: "95%"},
            legend: {position: "none"},
            hAxis: {
                textStyle:{
                    bold:true,
                    fontSize:15
                }
            },
            vAxis: {
                viewWindowMode: 'explicit',
                viewWindow: {
                    min: 0,
                    max: 100
                },
                gridlines: {count: 5}
            },
            bar: {groupWidth: "50%"},
        };
        var chart = new google.visualization.ColumnChart(document.getElementById("chart_div"));
        chart.draw(view, options);
    }
</script>
<script>
    /**
     * django의 view 파일과 통신하기 위해 필요한 함수.
     * ajax로 통신하기 때문에, POST 형태의 통신 방식을 취하고 있으며
     * 스마트미러로부터 받은 입력과 그에 따른 사용자의 답변 Case,
     * 시스템으로부터 얻은 시간 정보들을 모두 담고 있다.
     *
     * input:
     *      - url: django의 view 파일과 ajax로 통신하기 위한 주소를 담고 있는 변수
     *      - answerCase: 사용자의 답변이 어떤 질문 Case에 대한 정보인지를 담고 있는 변수
     *      - code: 사용자가 프로그램을 처음 구동하여 각종 모드들을 입력할 경우, 그에 대응하는
     *              Code의 정보를 담고 있는 변수
     *      - command: 사용자의 답변 정보를 담고 있는 변수
     *      - hour: 시스템으로부터 얻은 '시' 정보를 담고 있는 변수
     *      - minute: 시스템으로부터 얻은 '분' 정보를 담고 있는 변수
     *      - month: 시스템으로부터 얻은 '월' 정보를 담고 있는 변수
     *      - day: 시스템으로부터 얻은 '일' 정보를 담고 있는 변수
     *
     * Return:
     *      통신에 성공할 경우, Success와 함께 JESS Engine 구동 결과들을 담고 있는
     *      Dictionary 형태의 변수와 함께 Return
     * */
    ////////// @jaeseung : add weather
    function communicateAjaxWithCase(url) {
        {#alert(url);#}
        return $.ajax({
            url: url,
            type: "POST",
            data: {},
            async: false
        });
    }
    var check_file = null;
    $(window).load(function () {
// CPU TIME 읽어서 현재 시간 정보와 관련된 정보들을 JESS에 Fact들로 집어넣음
        var dt = new Date($.now());
        var hour = dt.getHours();
        var minute = dt.getMinutes();
        var month = dt.getMonth() + 1;
        // @jaeseung : run_engine
        //setTimeout(check_run, 1000);
    });
    function csrfSafeMethod(method) {
        // these HTTP methods do not require CSRF protection
        return (/^(GET|HEAD|OPTIONS|TRACE)$/.test(method));
    }
    $(document).ready(function () {
        var csrftoken = getCookie('csrftoken');
        $.ajaxSetup({
            beforeSend: function (xhr, settings) {
                if (!csrfSafeMethod(settings.type) && !this.crossDomain) {
                    xhr.setRequestHeader("X-CSRFToken", csrftoken);
                }
            }
        });
    });

    var flag = true;
    var dur = 0;
    var current_time = 0;

    function check_run() {
        if(flag){
            if (check_file) {
                getEngineOutputEachtime();
            }
            setTimeout(check_run, 500);
            {% comment %}$.ajax({    //  time 배속 구해주기
                url: "/time/",
                dataType: 'json',
                type: 'POST',
                data: {dur: dur, file_name: check_file },
                success: function (result) {
                    setTimeout(check_run, result);
                }
            });{% endcomment %}
        }
    }
    var selValue = null
    function select(obj) {  ////////////////////// perceptajax
        //$("#percept").empty();
        selValue = obj.value
        if (obj.value == "김차순 고령자 데이터") {
            flag=false;
            $('#playp').empty();
            $('#playp').append("<span class='glyphicon glyphicon-facetime-video'></span> 김차순 고령자 영상");
            $('#perceptp').empty();
            $('#perceptp').append("<span class='glyphicon glyphicon-list'></span> 김차순 고령자 지각 정보");
            $("#bargraph").empty();
            $("#atab").empty();
            $("#btab").empty();
            $("#chart_div").empty();
            $("#video-active").attr("src", "{% static 'play/kim_demo.mp4' %}")
            google.charts.load('current', {packages: ['corechart', 'bar']});
            google.charts.setOnLoadCallback(drawChart1);
            function drawChart1() {
                var data = google.visualization.arrayToDataTable([
                    ['성향', '수치', {role: 'style'}],
                    ['사교적성향', 0, 'color: #637498; opacity: 0.8;'],
                    ['TV 애청자', 0, 'color: #62A0A7; opacity: 0.8;'],
                    ['소통적성향', 0, 'color: #99CEDC; opacity: 0.8']
                ]);
                var options = {
                    width: "100%",
                    height: "100%",
                    bar: {groupWidth: "100%"},
                    legend: {position: "none"},
                    hAxis: {
                        viewWindowMode: 'explicit',
                        viewWindow: {
                            min: 0,
                            max: 10
                        },
                        gridlines: {count: 5},
                        textStyle:{
                            fontSize:12
                        }
                    },
                    vAxis:{
                        textStyle:{
                            bold:true,
                            fontSize:13
                        }
                    }
                };
                var chart = new google.visualization.BarChart(document.getElementById('bargraph'));
                chart.draw(data, options);
            }
            google.charts.load("current", {packages: ['corechart']});
            google.charts.setOnLoadCallback(drawChart);
            function drawChart() {
                var data = google.visualization.arrayToDataTable([
                    ['action', '수치', {role: 'style'}],
                    ['다과', 0, 'color: #1F77B4; opacity: 0.8;'],
                    ['독서하기', 0, 'color: #FF7F0E; opacity: 0.8;'],
                    ['정리정돈', 0, 'color: #2CA02C; opacity: 0.8;'],
                    ['음료마시기', 0, 'color: #D62728; opacity: 0.8;'],
                    ['식사하기', 0, 'color: #9467BD; opacity: 0.8;'],
                    ['청소하기', 0, 'color: #8C564B; opacity: 0.8;'],
                    ['담소나누기', 0, 'color: #E377C2; opacity: 0.8;'],
                    ['식사준비', 0, 'color: #7F7F7F; opacity: 0.8;'],
                    ['전화통화', 0, 'color: #BCBD22; opacity: 0.8;'],
                    ['TV시청', 0, 'color: #17BECF; opacity: 0.8;']
                ]);
                var view = new google.visualization.DataView(data);
                var options = {
                    width: "100%",
                    height: "100%",
                    bar: {groupWidth: "95%"},
                    legend: {position: "none"},
                    hAxis: {
                        textStyle:{
                            bold:true,
                            fontSize:15
                        }
                    },
                    vAxis: {
                        viewWindowMode: 'explicit',
                        viewWindow: {
                            min: 0,
                            max: 100
                        },
                        gridlines: {count: 5}
                    },
                    bar: {groupWidth: "50%"},
                };
                var chart = new google.visualization.ColumnChart(document.getElementById("chart_div"));
                chart.draw(view, options);
            }
            //$("#playd").append("<video id=\"video-active\" src=\"{% static 'play/play.mp4' %}\" width=\"100%\" height=\"340px\" controls></video>");
        } else if (obj.value == "도경자 고령자 데이터") {
            flag=false;
            $('#playp').empty();
            $('#playp').append("<span class='glyphicon glyphicon-facetime-video'></span> 도경자 고령자 영상");
            $('#perceptp').empty();
            $('#perceptp').append("<span class='glyphicon glyphicon-list'></span> 도경자 고령자 지각 정보");
            $("#bargraph").empty();
            $("#atab").empty();
            $("#btab").empty();
            $("#chart_div").empty();
            $("#video-active").attr("src", "{% static 'play/do_demo.mp4' %}")
            google.charts.load('current', {packages: ['corechart', 'bar']});
            google.charts.setOnLoadCallback(drawChart1);
            function drawChart1() {
                var data = google.visualization.arrayToDataTable([
                    ['성향', '수치', {role: 'style'}],
                    ['사교적성향', 0, 'color: #637498; opacity: 0.8;'],
                    ['TV 애청자', 0, 'color: #62A0A7; opacity: 0.8;'],
                    ['소통적성향', 0, 'color: #99CEDC; opacity: 0.8']
                ]);
                var options = {
                    width: "100%",
                    height: "100%",
                    bar: {groupWidth: "100%"},
                    legend: {position: "none"},
                    hAxis: {
                        viewWindowMode: 'explicit',
                        viewWindow: {
                            min: 0,
                            max: 10
                        },
                        gridlines: {count: 5},
                        textStyle:{
                            fontSize:12
                        }
                    },
                    vAxis:{
                        textStyle:{
                            bold:true,
                            fontSize:13
                        }
                    }
                };
                var chart = new google.visualization.BarChart(document.getElementById('bargraph'));
                chart.draw(data, options);
            }
            google.charts.load("current", {packages: ['corechart']});
            google.charts.setOnLoadCallback(drawChart);
            function drawChart() {
                var data = google.visualization.arrayToDataTable([
                    ['action', '수치', {role: 'style'}],
                    ['다과', 0, 'color: #1F77B4; opacity: 0.8;'],
                    ['독서하기', 0, 'color: #FF7F0E; opacity: 0.8;'],
                    ['정리정돈', 0, 'color: #2CA02C; opacity: 0.8;'],
                    ['음료마시기', 0, 'color: #D62728; opacity: 0.8;'],
                    ['식사하기', 0, 'color: #9467BD; opacity: 0.8;'],
                    ['청소하기', 0, 'color: #8C564B; opacity: 0.8;'],
                    ['담소나누기', 0, 'color: #E377C2; opacity: 0.8;'],
                    ['식사준비', 0, 'color: #7F7F7F; opacity: 0.8;'],
                    ['전화통화', 0, 'color: #BCBD22; opacity: 0.8;'],
                    ['TV시청', 0, 'color: #17BECF; opacity: 0.8;']
                ]);
                var view = new google.visualization.DataView(data);
                var options = {
                    width: "100%",
                    height: "100%",
                    bar: {groupWidth: "95%"},
                    legend: {position: "none"},
                    hAxis: {
                        textStyle:{
                            bold:true,
                            fontSize:15
                        }
                    },
                    vAxis: {
                        viewWindowMode: 'explicit',
                        viewWindow: {
                            min: 0,
                            max: 100
                        },
                        gridlines: {count: 5}
                    },
                    bar: {groupWidth: "50%"},
                };
                var chart = new google.visualization.ColumnChart(document.getElementById("chart_div"));
                chart.draw(view, options);
            }
        } else if (obj.value == "이숙재 고령자 데이터") {
            flag=false;
            $('#playp').empty();
            $('#playp').append("<span class='glyphicon glyphicon-facetime-video'></span> 이숙재 고령자 영상");
            $('#perceptp').empty();
            $('#perceptp').append("<span class='glyphicon glyphicon-list'></span> 이숙재 고령자 지각 정보");
            $("#bargraph").empty();
            $("#atab").empty();
            $("#btab").empty();
            $("#chart_div").empty();
            $("#video-active").attr("src", "")
            google.charts.load('current', {packages: ['corechart', 'bar']});
            google.charts.setOnLoadCallback(drawChart1);
            function drawChart1() {
                var data = google.visualization.arrayToDataTable([
                    ['성향', '수치', {role: 'style'}],
                    ['사교적성향', 0, 'color: #637498; opacity: 0.8;'],
                    ['TV 애청자', 0, 'color: #62A0A7; opacity: 0.8;'],
                    ['소통적성향', 0, 'color: #99CEDC; opacity: 0.8']
                ]);
                var options = {
                    width: "100%",
                    height: "100%",
                    bar: {groupWidth: "100%"},
                    legend: {position: "none"},
                    hAxis: {
                        viewWindowMode: 'explicit',
                        viewWindow: {
                            min: 0,
                            max: 10
                        },
                        gridlines: {count: 5},
                        textStyle:{
                            fontSize:12
                        }
                    },
                    vAxis:{
                        textStyle:{
                            bold:true,
                            fontSize:13
                        }
                    }
                };
                var chart = new google.visualization.BarChart(document.getElementById('bargraph'));
                chart.draw(data, options);
            }
            google.charts.load("current", {packages: ['corechart']});
            google.charts.setOnLoadCallback(drawChart);
            function drawChart() {
                var data = google.visualization.arrayToDataTable([
                    ['action', '수치', {role: 'style'}],
                    ['다과', 0, 'color: #1F77B4; opacity: 0.8;'],
                    ['독서하기', 0, 'color: #FF7F0E; opacity: 0.8;'],
                    ['정리정돈', 0, 'color: #2CA02C; opacity: 0.8;'],
                    ['음료마시기', 0, 'color: #D62728; opacity: 0.8;'],
                    ['식사하기', 0, 'color: #9467BD; opacity: 0.8;'],
                    ['청소하기', 0, 'color: #8C564B; opacity: 0.8;'],
                    ['담소나누기', 0, 'color: #E377C2; opacity: 0.8;'],
                    ['식사준비', 0, 'color: #7F7F7F; opacity: 0.8;'],
                    ['전화통화', 0, 'color: #BCBD22; opacity: 0.8;'],
                    ['TV시청', 0, 'color: #17BECF; opacity: 0.8;']
                ]);
                var view = new google.visualization.DataView(data);
                var options = {
                    width: "100%",
                    height: "100%",
                    bar: {groupWidth: "95%"},
                    legend: {position: "none"},
                    hAxis: {
                        textStyle:{
                            bold:true,
                            fontSize:15
                        }
                    },
                    vAxis: {
                        viewWindowMode: 'explicit',
                        viewWindow: {
                            min: 0,
                            max: 100
                        },
                        gridlines: {count: 5}
                    },
                    bar: {groupWidth: "50%"},
                };
                var chart = new google.visualization.ColumnChart(document.getElementById("chart_div"));
                chart.draw(view, options);
            }
        }
        check_file = obj.value;
        //var ajax_communication = communicateAjaxWithCase(url = "/smartButler/fire_rule/");
    }

    // using jQuery
    function getCookie(name) {
        var cookieValue = null;
        if (document.cookie && document.cookie != '') {
            var cookies = document.cookie.split(';');
            for (var i = 0; i < cookies.length; i++) {
                var cookie = jQuery.trim(cookies[i]);
                // Does this cookie string begin with the name we want?
                if (cookie.substring(0, name.length + 1) == (name + '=')) {
                    cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                    break;
                }
            }
        }
        return cookieValue;
    }

    function percept() {
        $.ajax({
            url: "/demo/percept/",
            dataType: 'html',
            type: 'POST',
            data: {cur: current_time, dur: dur, file_name: check_file},
            success: function (result) {
//                console.log(result);
                $('#btab').append(result).scrollTop($("#btab")[0].scrollHeight);
            }
        });
    }
    function getEngineOutputEachtime() {
        percept();
        {#console.log("run engine timeout");#}
//            communicateAjaxWithCase(url = "/smartButler/fire_rule/")
        $.ajax({
            url: "/smartButler/fire_rule/",
            dataType: 'json',
            type: 'POST',
            data: { file_name: check_file},
            success: function (result) {
                //            console.log("result : [" + result + "]")
                {#console.log(typeof result)#}
                var tmp = "" + result;
                console.log(result)
                $("#chart_div").empty();
                google.charts.load("current", {packages: ['corechart']});
                google.charts.setOnLoadCallback(drawChart);
                var updateRate=2;
                function drawChart() {
                    var data = google.visualization.arrayToDataTable([
                        ['action', '수치', {role: 'style'}],
                        ['다과', result[0]*100/updateRate, 'color: #1F77B4; opacity: 0.8;'],
                        ['독서하기', result[1]*100/updateRate, 'color: #FF7F0E; opacity: 0.8;'],
                        ['정리정돈', result[2]*100/updateRate, 'color: #2CA02C; opacity: 0.8;'],
                        ['음료마시기', result[3]*100/updateRate, 'color: #D62728; opacity: 0.8;'],
                        ['식사하기', result[4]*100/updateRate, 'color: #9467BD; opacity: 0.8;'],
                        ['청소하기', result[5]*100/updateRate, 'color: #8C564B; opacity: 0.8;'],
                        ['담소나누기', result[6]*100/updateRate, 'color: #E377C2; opacity: 0.8;'],
                        ['식사준비', result[7]*100/updateRate, 'color: #7F7F7F; opacity: 0.8;'],
                        ['전화통화', result[8]*100/updateRate, 'color: #BCBD22; opacity: 0.8;'],
                        ['TV시청', result[9]*100/updateRate, 'color: #17BECF; opacity: 0.8;']
                    ]);

                    var view = new google.visualization.DataView(data);
                    var options = {
                        width: "100%",
                        height: "100%",
                        bar: {groupWidth: "95%"},
                        legend: {position: "none"},
                        hAxis: {
                            textStyle:{
                                bold:true,
                                fontSize:15
                            }
                        },
                        vAxis: {
                            viewWindowMode: 'explicit',
                            viewWindow: {
                                min: 0,
                                max: 100
                            },
                            gridlines: {count: 5}
                        },
                        bar: {groupWidth: "50%"},
                    };
                    var chart = new google.visualization.ColumnChart(document.getElementById("chart_div"));
                    chart.draw(view, options);
                }
            }
        });
        // Git Test : Timeout
        {#setTimeout(getEngineOutputEachtime, 1000);#}
    }
    function onTrackedVideoFrame(currentTime, duration) {
        $("#current").text(currentTime); //Change #current to currentTime
        $("#duration").text(duration);
        current_time = currentTime;
    }
    $(document).ready(function () {
        $("#video-active").on(
            "timeupdate",
            function (event) {
                onTrackedVideoFrame(this.currentTime, this.duration);
            });
        $('#video-active').on('play', function() {
            if (selValue == "김차순 고령자 데이터") {
                //document.getElementById("perceptdd").innerHTML="<img src=\"{% static 'images/progress.gif' %}\" style=\"width: 100%; height: 100%;\">";
                $("#bargraph").empty();
                google.charts.load('current', {packages: ['corechart', 'bar']});
                google.charts.setOnLoadCallback(drawChart);
                function drawChart() {
                    var data = google.visualization.arrayToDataTable([
                        ['성향', '수치', {role: 'style'}],
                        ['사교적성향', 9, 'color: #0072BD; opacity: 0.8;'],
                        ['TV 애청자', 3, 'color: #D95319; opacity: 0.8;'],
                        ['소통적성향', 5, 'color: #EDB120; opacity: 0.8']
                    ]);
                    var options = {
                        width: "100%",
                        height: "100%",
                        bar: {groupWidth: "100%"},
                        legend: {position: "none"},
                        hAxis: {
                            viewWindowMode: 'explicit',
                            viewWindow: {
                                min: 0,
                                max: 10
                            },
                            gridlines: {count: 5},
                            textStyle:{
                                fontSize:12
                            }
                        },
                        vAxis:{
                            textStyle:{
                                bold:true,
                                fontSize:13
                            }
                        }
                    };
                    var chart = new google.visualization.BarChart(document.getElementById('bargraph'));
                    chart.draw(data, options);
                }
                dur = this.duration;
                flag=true;
                check_run()
            } else if (selValue == "도경자 고령자 데이터") {
                $("#bargraph").empty();
                google.charts.load('current', {packages: ['corechart', 'bar']});
                google.charts.setOnLoadCallback(drawChart);
                function drawChart() {
                    var data = google.visualization.arrayToDataTable([
                        ['성향', '수치', {role: 'style'}],
                        ['사교적성향', 2, 'color: #0072BD; opacity: 0.8;'],
                        ['TV 애청자', 10, 'color: #D95319; opacity: 0.8;'],
                        ['소통적성향', 3.5, 'color: #EDB120; opacity: 0.8']
                    ]);
                    var options = {
                        width: "100%",
                        height: "100%",
                        bar: {groupWidth: "100%"},
                        legend: {position: "none"},
                        hAxis: {
                            viewWindowMode: 'explicit',
                            viewWindow: {
                                min: 0,
                                max: 10
                            },
                            gridlines: {count: 5},
                            textStyle:{
                                fontSize:12
                            }
                        },
                        vAxis:{
                            textStyle:{
                                bold:true,
                                fontSize:13
                            }
                        }
                    };
                    var chart = new google.visualization.BarChart(document.getElementById('bargraph'));
                    chart.draw(data, options);
                }
                dur = this.duration;
                flag=true;
                check_run()
            } else if (selValue == "이숙재 고령자 데이터") {
                $("#bargraph").empty();
                google.charts.load('current', {packages: ['corechart', 'bar']});
                google.charts.setOnLoadCallback(drawChart);
                function drawChart() {
                    var data = google.visualization.arrayToDataTable([
                        ['성향', '수치', {role: 'style'}],
                        ['사교적성향', 4.5, 'color: #0072BD; opacity: 0.8;'],
                        ['TV 애청자', 2, 'color: #D95319; opacity: 0.8;'],
                        ['소통적성향', 8, 'color: #EDB120; opacity: 0.8']
                    ]);
                    var options = {
                        width: "100%",
                        height: "100%",
                        bar: {groupWidth: "100%"},
                        legend: {position: "none"},
                        hAxis: {
                            viewWindowMode: 'explicit',
                            viewWindow: {
                                min: 0,
                                max: 10
                            },
                            gridlines: {count: 5},
                            textStyle:{
                                fontSize:12
                            }
                        },
                        vAxis:{
                            textStyle:{
                                bold:true,
                                fontSize:13
                            }
                        }
                    };
                    var chart = new google.visualization.BarChart(document.getElementById('bargraph'));
                    chart.draw(data, options);
                }
                dur = this.duration;
                flag=true;
                check_run()
            }
        });
        $('#video-active').on('pause', function() {
            flag=false;
            //$("#perceptdd").empty();
        });
    });
</script>
</body>
</html>