<!DOCTYPE html> <!-- Document Type Definition-->
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <!-- @jaeseung : for TAB -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">

    <link href="https://netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css"
    rel="stylesheet">
    <link href="https://netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap-glyphicons.css"
    rel="stylesheet">
    <link rel="shortcut icon" href="http://rb20.kimsq.co.kr/rb2/layouts/default/assets/ico/favicon.ico">

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="http://d3js.org/d3.v3.min.js"></script>
    <script src="https://d3js.org/d3-collection.v1.min.js"></script>
    <script src="d3.legend.js"></script>

    {% load staticfiles %}

    <title>Smart Butler</title>

    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.0.3/socket.io.js"></script>

    <!-- Bootstrap -->

    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
    integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"
    integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa"
    crossorigin="anonymous">
</script>

<script src="https://d3js.org/d3.v3.min.js"></script>
<script type="text/javascript"
src="https://cdnjs.cloudflare.com/ajax/libs/jquery-cookie/1.4.1/jquery.cookie.min.js"></script>



<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>

<body style="background-image: url({% static 'images/back-home.jpg' %});background-size: cover;background-repeat: no-repeat;z-index: -1;"></body>

<div class="container">

    <div class="row" , style="margin-top: 15px; border: hidden; padding-left: 16px; padding-right:16px; max-height: 77px">
        <!-- 제목부 Smart Butler Reasoner -->
        <div class="jumbotron" style="padding-top: 7px; padding-bottom: 7px; background-color: #222B3A;">
            <!-- HTML은 6단계의 제목을 갖고, <h1> ~ <h6> 단계로 표현됨 -->
<!-- <h1> Main Title </h1>
<h2> Top Level Heading </h2>
<h3> Subheading </h3>
<h4> Sub-subheading </h4>-->

<h2 style="color: aliceblue" align="center">Smart Butler Proactive Service Data Generator</h2>
<!-- <p> 요소는 문자의 문단을 포함하기 위한 것; 일반적인 문자 내용을 나타낼 때 많이 사용됨 -->

</div>
</div>

<div class="row" , style="margin-top: 10px; border: hidden; min-height: 800px;">

    <!-- @jaeseung : 0. Start from here! -->
    <div class="col-md-6" , style="border: hidden; min-height: 800px;">
        <div class="row" , style="border: hidden; min-height: 600px;">
            <div class="col-md-12">
                <div class="panel"  style="border: none;  opacity: 0.7">
                    <div class="panel-heading" style="background-color: #3D495D; padding-bottom: 4px; border: none">
                        <p style="color: aliceblue; font-size: 20px"><span class="glyphicon glyphicon-thumbs-up"></span> Device Usage Pattern Parameters
                        </p>             

                    </div>


                    <div class="panel-body" style="min-height: 500px; padding: 0px; border:none;">
                        <div class="w3-bar w3-black">
                            <button class="w3-bar-item w3-button tablink w3-red" onclick="openTab(event,'user_info')">User Information</button>
                            <button class="w3-bar-item w3-button tablink" onclick="openTab(event,'param_settings')">Parameter Settings</button>
                        </div>

                        <div id="user_info" class="panel-body tab" style="border: none; opacity: 1; overflow:auto;">
                            <div class="row">
                                <table class="table table-responsive table-hover table-bordered table-condensed table-striped table-sm">
                                    <thead>
                                        <tr>
                                            <th >Category</th>
                                            <th>Input</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <td>Name</td>
                                            <td><input type="text" class="form-control" id="get_name" /></td>
                                        </tr>
                                        <tr>
                                            <td>Age</td>
                                            <td><input type="text" class="form-control" id="get_age" /></td>
                                        </tr>
                                        <tr>
                                            <td>Gender</td>
                                            <td >
                                                <div class="col-sm-3" style="width: 50%; height: 50%">
                                            <label class="radio"><input type="radio" id="get_male" name="optradio" checked>Male</label>
                                            </div>
                                                <div class="col-sm-3" style="width: 50%; height: 50%">
                                                <label class="radio"><input type="radio" id="get_female" name="optradio">Female</label>
                                            </div>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>Job</td>
                                            <td>
                                        <select class="form-control " id="job_selecter" style="width:100%;">
                                            <option value="" selected disabled hidden>Job</option>
                                            <option value="spring">Student</option>
                                            <option value="summer">Programmer</option>
                                        </select>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                            <div class="row">
                                <button type="button" class="btn btn-success" id="get_user_info" style="float: right">Submit</button>
                            </div>



                        </div>
                        <div id="param_settings" class="panel-body tab" style="display:none; opacity: 1; overflow:auto;">

                            <style type="text/css">
                            .nopadding {
                                padding: 0 !important;
                                margin: 0 !important;
                            }
                            .table th {
                                text-align: center;
                            }
                            .table th.fit{
                                white-space: nowrap;
                                width: 1%;
                            }
                            .table td.fit{
                                white-space: nowrap;
                                width: 1%;
                            }
                            .table td.step{
                                text-align: center; 
                            }
                            .table td {
                                position: relative;
                            }
                            .table td input {
                                position: absolute;
                                display: block;
                                top:0;
                                left:0;
                                margin: 0;
                                height: 100%;
                                width: 100%;
                                border: none;
                                padding: 10px;
                                box-sizing: border-box;}
                            </style>

                            <div class="row">
                                <div class="col-sm-2">
                                    <h5 ><span id="period"></span>Period :</h5>
                                </div>
                                <div class="col-sm-5">
                                    <div class="input-group input-daterange">
                                        <input type="text" class="form-control" id="period_start" value="8:00">
                                        <div class="input-group-addon">to</div>
                                        <input type="text" class="form-control" id="period_end" value="21:00">
                                    </div>
                                </div>

                                <div class="col-sm-2">
                                    <h5 ><span id="days"></span>Days :</h5>
                                </div>
                                <div class="col-sm-3">
                                    <input type="text" class="form-control" id="num_days" value="100">
                                </div>
                            </div>

                            <div class="row" style="margin-top: 10px">

                                <div class="col-sm-3 nopadding " >
                                    <select class="form-control " id="user_selecter" style="width:100%;">
                                        <option value="" selected disabled hidden>User</option>
                                        <option value="park">Park</option>
                                        <option value="kim">Kim</option>
                                        <option value="choi">Choi</option>
                                    </select>    

                                    <script>
                                        var user_selecter = document.getElementById("user_selecter");

                                        user_selecter.oninput = function() {
                                            var user_value = user_selecter.options[user_selecter.selectedIndex].value;
                                            document.getElementById("demo_user").innerHTML = user_value;
                                        }
                                    </script>                                </div>
                                    <div class="col-sm-3 nopadding"  >
                                        <select class="form-control " id="season_selecter" style="width:100%;">
                                            <option value="" selected disabled hidden>Season</option>
                                            <option value="spring">Spring</option>
                                            <option value="summer">Summer</option>
                                            <option value="fall">Fall</option>
                                            <option value="winter">Winter</option>
                                        </select>

                                        <script>
                                            var season_selecter = document.getElementById("season_selecter");

                                            season_selecter.oninput = function() {
                                                var season_value = season_selecter.options[season_selecter.selectedIndex].value;
                                                document.getElementById("demo_season").innerHTML = season_value;
                                            }
                                        </script>
                                    </div>
                                    <div class="col-sm-3 nopadding"  >
                                        <select class="form-control" id="week_selecter" style="width:100%;">
                                            <option value="weekdays">Weekdays</option>
                                            <option value="weekend">Weekend</option>
                                        </select>

                                        <script>
                                            var week_selecter = document.getElementById("week_selecter");

                                            week_selecter.oninput = function() {
                                                var week_value = week_selecter.options[week_selecter.selectedIndex].value;
                                                document.getElementById("demo_weekday").innerHTML = week_value;
                                            }
                                        </script>                                </div>
                                        <div class="col-sm-3 nopadding"  >
                                           <select class="form-control" id="weather_selecter" style="width:100%;">
                                            <option value="" selected disabled hidden>Weather</option>
                                            <option value="sunny">Sunny</option>
                                            <option value="cloud">Cloud</option>
                                            <option value="rain">Rain</option>
                                            <option value="snow">Snow</option>
                                            <option value="dark">Dark</option>
                                        </select>

                                        <script>
                                            var weather_selecter = document.getElementById("weather_selecter");

                                            weather_selecter.oninput = function() {
                                                var weather_value = weather_selecter.options[weather_selecter.selectedIndex].value;
                                                document.getElementById("demo_weather").innerHTML = weather_value;
                                            }
                                        </script>                                </div>
                                    </div>

                                    <div class="row" style="margin-top: 10px">
                                        <table class="table table-hover table-bordered table-condensed table-sm table-responsive">
                                            <thead class="bg-primary">
                                                <tr>
                                                    <th class="fit">Device</th>
                                                    <th class="fit">Distribution</th>
                                                    <th colspan="6">Parameters</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr>
                                                    <td>TV</td>
                                                    <td>Gaussian</td>
                                                    <td class="fit">Weight</td>
                                                    <td><input type="text" id="tv_weight" class="form-control" /></td>
                                                    <td class="fit">Mean</td>
                                                    <td><input type="text" id="tv_mean" class="form-control" /></td>
                                                    <td class="fit">Dev</td>
                                                    <td><input type="text" id="tv_dev" class="form-control" /></td>
                                                </tr>

                                                <tr>
                                                    <td>Bulb</td>
                                                    <td>Gaussian</td>
                                                    <td class="fit">Weight</td>
                                                    <td><input type="text" id="bulb_weight" class="form-control" /></td>
                                                    <td class="fit">Mean</td>
                                                    <td><input type="text" id="bulb_mean" class="form-control" /></td>
                                                    <td class="fit">Dev</td>
                                                    <td><input type="text" id="bulb_dev" class="form-control" /></td>
                                                </tr>       


                                                <tr>
                                                    <td class="fit">Robot Cleaner</td>
                                                    <td>Gaussian</td>
                                                    <td class="fit">Weight</td>
                                                    <td><input type="text" id="robot_weight" class="form-control" /></td>
                                                    <td class="fit">Mean</td>
                                                    <td><input type="text" id="bulb_mean" class="form-control" /></td>
                                                    <td class="fit">Dev</td>
                                                    <td><input type="text" id="bulb_dev" class="form-control" /></td>
                                                </tr>


                                                <tr>
                                                    <td>Airconditioner</td>
                                                    <td class="fit">Step Function</td>
                                                    <td class="step" colspan="2">Threshold</td>
                                                    <td colspan="4"><input type="text" id="aircon_threshold" class="form-control" /></td>
                                                </tr>


                                                <tr>
                                                    <td>Aircleaner</td>
                                                    <td class="fit">Step Function</td>
                                                    <td class="step" colspan="2">Threshold</td>
                                                    <td colspan="4"><input type="text" id="aircleaner_threshold" class="form-control" /></td>
                                                </tr>


                                            </tbody>
                                        </table>
                                    </div>


                                    <div class="row">
                                        <button type="button" id="btn_generator" class="btn btn-success" style="float: right">Generate</button>
                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
            <!-- @jaeseung : 2. Graph -->
            <div class="col-md-6">
                <div class="row" , style="border: hidden; min-height: 600px;">
                    <div class="col-md-12">
                        <div class="panel" style="border: none; opacity: 0.7; ">
                            <div class="panel-heading" style="background-color: #3D495D; padding-bottom: 4px; border: none">
                                <p style="color: aliceblue; font-size: 20px"> <span class="glyphicon glyphicon-sort"></span> 
                                    Device Usage Pattern Graph
                                </p>
                            </div>
                            <div class="panel-body" style="min-height: 500px; padding: 0px; border:none;">

                                <div class="w3-bar w3-black">
                                    <button class="w3-bar-item w3-button tablink2 w3-red" onclick="openTab2(event,'Device1')">AirConditioner</button>
                                    <button class="w3-bar-item w3-button tablink2" onclick="openTab2(event,'Device2')">AirCleaner</button>
                                    <button class="w3-bar-item w3-button tablink2" onclick="openTab2(event,'Device3')">Bulb</button>
                                    <button class="w3-bar-item w3-button tablink2" onclick="openTab2(event,'Device4')">RobotCleaner</button>
                                    <button class="w3-bar-item w3-button tablink2" onclick="openTab2(event,'Device5')">TV</button>
                                </div>

                                <div id="Device1" class="tab2" style="border: none; opacity: 1; overflow:auto;">
                                </div>
                                <div id="Device2" class="tab2" style="display:none; opacity: 1; overflow:auto;">
                                </div>
                                <div id="Device3" class="tab2" style="display:none">
                                </div>
                                <div id="Device4" class="tab2" style="display:none">
                                </div>
                                <div id="Device5" class="tab2" style="display:none">
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>



    </div>
</div>

<script>
////// (start) for fix 403 forbiddon error //////////////////////////////////////////
var csrftoken = $.cookie('csrftoken');

function csrfSafeMethod(method) {
// these HTTP methods do not require CSRF protection
return (/^(GET|HEAD|OPTIONS|TRACE)$/.test(method));
}

$.ajaxSetup({
    beforeSend: function (xhr, settings) {
        if (!csrfSafeMethod(settings.type) && !this.crossDomain) {
            xhr.setRequestHeader("X-CSRFToken", csrftoken);
        }
    }
});
////// (end) for fix 403 forbiddon error //////////////////////////////////////////


// @jaeseung : Tab activate function
function openTab(evt, tabName) {
    var i, x, tablinks;
    x = document.getElementsByClassName("tab");
    for (i = 0; i < x.length; i++) {
        x[i].style.display = "none";
    }
    tablinks = document.getElementsByClassName("tablink");
    for (i = 0; i < x.length; i++) {
        tablinks[i].className = tablinks[i].className.replace(" w3-red", "");
    }
    document.getElementById(tabName).style.display = "block";
    evt.currentTarget.className += " w3-red";
}


// @jaeseung : Tab activate function
function openTab2(evt, tabName) {
    var i, x, tablinks;
    x = document.getElementsByClassName("tab2");
    for (i = 0; i < x.length; i++) {
        x[i].style.display = "none";
    }
    tablinks = document.getElementsByClassName("tablink2");
    for (i = 0; i < x.length; i++) {
        tablinks[i].className = tablinks[i].className.replace(" w3-red", "");
    }
    document.getElementById(tabName).style.display = "block";
    evt.currentTarget.className += " w3-red";
}
</script>


<script>
    // using jQuery
    function getCookie(name) {
        var cookieValue = null;
        if (document.cookie && document.cookie != '') {
            var cookies = document.cookie.split(';');
            for (var i = 0; i < cookies.length; i++) {
                var cookie = jQuery.trim(cookies[i]);
                // Does this cookie string begin with the name we want?
                if (cookie.substring(0, name.length + 1) == (name + '=')) {
                    cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                    break;
                }
            }
        }
        return cookieValue;
    }
    function csrfSafeMethod(method) {
        // these HTTP methods do not require CSRF protection
        return (/^(GET|HEAD|OPTIONS|TRACE)$/.test(method));
    }
    $(document).ready(function() {
        var csrftoken = getCookie('csrftoken');
        $.ajaxSetup({
            beforeSend: function(xhr, settings) {
                if (!csrfSafeMethod(settings.type) && !this.crossDomain) {
                    xhr.setRequestHeader("X-CSRFToken", csrftoken);
                }
            }
        });
    });
    $(document).ready(function(){ {% comment %} 민성 load data 버튼 누를시 ajax {% endcomment %}
        $("#btn_generatorr").click(function(){
            var user = document.getElementById("user_selecter").value;
            var start = document.getElementById("period_start").value;
            var end = document.getElementById("period_end").value;
            var days = document.getElementById("days").value;
            var season = document.getElementById("season_selecter").value;
            var week = document.getElementById("week_selecter").value;
            var weather = document.getElementById("weather_selecter").value;
            alert(start);

            var tv_weight = document.getElementById("tv_weight").value;
            var tv_mean = document.getElementById("tv_mean").value;
            var tv_dev = document.getElementById("tv_dev").value;
            var bulb_weight = document.getElementById("bulb_weight").value;
            var bulb_mean = document.getElementById("bulb_mean").value;
            var bulb_dev = document.getElementById("bulb_dev").value;
            var robot_weight = document.getElementById("robot_weight").value;
            var robot_mean = document.getElementById("robot_mean").value;
            var robot_dev = document.getElementById("robot_dev").value;
            var aircon_thres = document.getElementById("aircon_threshold").value;
            var aircleaner_thres = document.getElementById("aircleaner_threshold").value;
            $.ajax({
                url:"/profilelearner/LoadData/",
                dataType:'html',
                type:'POST',
                data:{sel1:user,sel2:season,sel3:week},
                success:function(result){
                    alert(result)
                }
            });
            {% comment %}$.ajax({
                url:"/generator_layout/generate_data/",
                dataType:'html',
                type:'POST',
                data:{user:user, start:start, end:end, days:days, season:season, week:week, weather:weather,
                  tv_weight:tv_weight, tv_mean:tv_mean, tv_dev:tv_dev,
                  bulb_weight:bulb_weight, bulb_mean:bulb_mean, bulb_dev:bulb_dev,
                  robot_weight:robot_weight, robot_mean:robot_mean, robot_dev:robot_dev,
                  aircon_thres:aircon_thres, aircleaner_thres:aircleaner_thres},
                success:function(result){
                    alert(result)
                },
                error:function () {
                    alert("ERROR")
                }

            });{% endcomment %}
        });
    });

    $(document).ready(function(){ {% comment %} 민성 load data 버튼 누를시 ajax {% endcomment %}
        $("#btn_generator").click(function(){
            var user = document.getElementById("user_selecter").value;
            var start = document.getElementById("period_start").value;
            var end = document.getElementById("period_end").value;
            var days = document.getElementById("days").value;
            var season = document.getElementById("season_selecter").value;
            var week = document.getElementById("week_selecter").value;
            var weather = document.getElementById("weather_selecter").value;

            var tv_weight = document.getElementById("tv_weight").value;
            var tv_mean = document.getElementById("tv_mean").value;
            var tv_dev = document.getElementById("tv_dev").value;
            var bulb_weight = document.getElementById("bulb_weight").value;
            var bulb_mean = document.getElementById("bulb_mean").value;
            var bulb_dev = document.getElementById("bulb_dev").value;
            var robot_weight = document.getElementById("robot_weight").value;
            var robot_mean = document.getElementById("robot_mean").value;
            var robot_dev = document.getElementById("robot_dev").value;
            alert(start);

            $.ajax({
                url:"/generator_layout/generate_data/",
                dataType:'html',
                type:'POST',
                data:{user:user, start:start, end:end, days:days, season:season, week:week, weather:weather,
                  tv_weight:tv_weight, tv_mean:tv_mean, tv_dev:tv_dev,
                  bulb_weight:bulb_weight, bulb_mean:bulb_mean, bulb_dev:bulb_dev,
                  robot_weight:robot_weight, robot_mean:robot_mean, robot_dev:robot_dev},
                success:function(result){
                    alert(result)
                }
            });
        });
    });
</script>

</body>
</html>