<!DOCTYPE html> <!-- Document Type Definition-->

{% load staticfiles %}

<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <title>Smart Butler</title>

    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>

    <!-- Bootstrap -->
    {#    <link href="https://maxcdn.bootstrapcdn.com/bootswatch/3.3.7/yeti/bootstrap.min.css"#}
    {#          rel="stylesheet" integrity="sha384-HzUaiJdCTIY/RL2vDPRGdEQHHahjzwoJJzGUkYjHVzTwXFQ2QN/nVgX7tzoMW3Ov"#}
    {#          crossorigin="anonymous">#}

    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
          integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"
            integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa"
            crossorigin="anonymous">
    </script>

    <script src="https://d3js.org/d3.v3.min.js"></script>
    <script type="text/javascript"
            src="https://cdnjs.cloudflare.com/ajax/libs/jquery-cookie/1.4.1/jquery.cookie.min.js"></script>
    {##}
 <script>
        $(document).ready(function () {
                alert("Testing Json read Available ");

                $.ajax({
                    url: "/jsontest/",
                    type: "POST",
                    data: {},

                    success: function (json) {
                        console.log(json);

                        result = [];

                        var devices = jQuery.parseJSON(JSON.stringify(json));
                        var door_locks = devices.Door_Lock;
                        for (var i = 0; i < door_locks.length; i++ ){
                            console.log(door_locks[i].devID);
                            result.push(door_locks[i].devID);
                        };

                        console.log(result)

                        $('#json_protocol').html(result.join('<br />'));

                    }  <!--웹 페이지 상 경고 창 팝업 -->
                });
        });
    </script>
{#    <script>#}
{#	$(document).ready(function() {#}
{#	    alert("Before JSON");#}
{#	    $.getJSON('../jsonSet/device_info.json', function(data) {#}
{#	          alert("Helloasdadsads");#}
{#	      var html = '';#}
{#	      $.each(data, function(entryIndex, entry) {#}
{#	    	  html += '<div class="entry">';#}
{#	    	  html += '<h3 class="term">' + entry.term + '</h3>';#}
{#	    	  html += '<div class="part">' + entry.part + '</div>';#}
{#	    	  html += '<div class="definition">';#}
{#	    	  html += entry.definition;#}
{#	    	  html += '</div>';#}
{#	    	  html += '</div>';#}
{#	      });#}
{#	      alert(html);#}
{#	    return false;#}
{#	  });#}
{#	});#}
{#    </script>#}

</head>

<body>

<div class="container">

    <div class="row" , style="margin-top: 40px; border: hidden;">
        <div class="col-md-12">
            <!-- 제목부 Smart Butler Reasoner -->
            <div class="jumbotron" style="padding-top: 1px; padding-bottom: 1px">
                <!-- HTML은 6단계의 제목을 갖고, <h1> ~ <h6> 단계로 표현됨 -->
                <!-- <h1> Main Title </h1>
                     <h2> Top Level Heading </h2>
                     <h3> Subheading </h3>
                     <h4> Sub-subheading </h4>-->
                <h1>Smart Butler Reasoner</h1>
                <!-- <p> 요소는 문자의 문단을 포함하기 위한 것; 일반적인 문자 내용을 나타낼 때 많이 사용됨 -->
                <p>SSU A.I.Lab</p>
            </div>
        </div>
    </div>

    <div class="row" , style="margin-top: 10px; border: hidden; min-height: 800px;">
        <div class="col-md-5" , style="border: hidden; min-height: 800px;">
            <div class="row" , style="border: hidden; min-height: 50px;">
                <div class="col-md-12">
                    <div class="dropdown">

                        <button class="btn btn-success dropdown-toggle" type="button" id="dropdownMenu1"
                                data-toggle="dropdown" aria-haspopup="true" aria-expanded="true"
                                style="width: 100%">
                            시나리오 선택
                            <span class="caret"></span>
                        </button>
                        <!-- 많은 웹의 내용은 목록이기 때문에, HTML은 목록을 위한 요소를 가지고 있음.
                        목록을 나타내는 것은 항상 최소 두개의 요소로 구성되며 가장 일반적인 종류로
                        순서가 있는 것과 없는 것이 있음.

                        1. 순서 없는 목록은 쇼핑 목록과 같이 항목의 순서에 관계가 없는 목록을 위한 것. <ul> 요소로
                        둘러쌓여 있다.

                        2. 순서 있는 리스트는 조리법처럼 항목의 순서가 중요한 목록을 위한 것. <ol> 요소로 둘러
                        쌓여 있다.

                        목록의 각 항목은 <li> (목록 항목)요소 안에 놓여야 한다. -->
                        <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
                            <!-- 연결을 하기 위해, 간단한 요소를 사용할 필요가 있다.
                             <a>는 'anchor'의 약자로서, 문장 안의 어떤 단어를 링크로 만들기 위해 사용됨.
                             <a href="https://www.mozilla.org/en-US/about/manifesto/">Mozilla Manifesto</a>
                             위와 같이 연결하길 원하는 웹 주소를 채우면 됨.
                             -->
                            <li><a href="#">저녁식사</a></li> <!-- 이런식이면 목록 찍었을 때 "#" 주소로 이동-->
                            <li><a href="#">외출</a></li>
                            <li><a href="#">귀가</a></li>
                        </ul>
                    </div>

                    <form
                            method="POST"
                            id="jess_connect"
                            enctype="multipart/form-data">

                        {% csrf_token %} <!--보안토큰 생성 -->

                        <button type="submit" class="btn btn-warning" style="margin-botton: 10px; float: left">
                            Jess Connect Test
                        </button>
                    </form>


                    <form
                            method="POST"
                            id="jess_fact_result"
                            enctype="multipart/form-data">

                        {% csrf_token %}

                        <button type="submit" class="btn btn-warning" style="margin-botton: 10px; float: left">
                            Get Result from JESS
                        </button>
                    </form>
                </div>
            </div>


            <div class="row" , style="margin-top: 20px; border: hidden; min-height: 730px;">
                <div class="col-md-12">
                    <div class="row" , style="border: hidden; min-height: 50px;">
                        <div class="col-md-12">
                            <div class="panel panel-success">
                                <div class="panel-heading">
                                    Interact Interface
                                </div>
                                <div class="panel-body" style="max-height: 600px; min-height: 600px; overflow:auto"
                                     id="scroll_body">
                                    <div id="chat">
                                        <div class="alert alert-info" role="alert">[code:3] 귀가</div>
                                        <div class="alert alert-warning" role="alert" align="right">
                                            <p>[code:3] 귀가 모드를 실행합니다.</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="row" , style="border: hidden; min-height: 50px;">
                        <div class="col-md-12">
                            <div class="form-group has-success has-feedback">
                                <div class="input-group">
                                    <span class="input-group-addon">@</span>

                                    <input type="text" class="form-control" id="inputGroupSuccess1"
                                           aria-describedby="inputGroupSuccess1Status" onkeydown="onKeyDown()">
                                    <!-- 채팅박스 -->

                                    {#                                    <input type="submit" onclick=click() value="보내기">#}
                                </div>
                                <span class="glyphicon glyphicon-ok form-control-feedback" aria-hidden="true"></span>
                                <span id="inputGroupSuccess1Status" class="sr-only"></span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-7" , style="border: hidden; min-height: 800px;">
            <div class="row" , style="border: hidden; min-height: 400px;">
                <div class="col-md-12">
                    <div class="row" , style="border: hidden; min-height: 50px;">
                        <div class="col-md-12">
                            <div class="panel panel-success">
                                <div class="panel-heading">
                                    Internal Info
                                </div>
                                <div class="panel-body" style="min-height: 300px; padding: 0px">
                                    <div class="col-md-6" ,
                                         style="border: hidden; min-height: 300px;padding-left: 0px; padding-right: 0px">
                                        <div class="panel panel-info" style="margin-bottom: 0px">
                                            <div class="panel-heading">
                                                바른 기술 Internal Info
                                            </div>
                                            <div class="panel-body"
                                                 style="min-height: 300px; max-height: 300px; overflow:auto"
                                                 id="br_json">

                                                <div id="json_protocol">
                                                    <!--바른기술 측 디바이스 관련 Internal Info-->
                                                    JSON 띄울 곳

                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-6" ,
                                         style="border: hidden; min-height: 300px;padding-left: 0px; padding-right: 0px">
                                        <div class="panel panel-info" style="margin-bottom: 0px">
                                            <div class="panel-heading">
                                                숭실대 추론 Internal Info
                                            </div>
                                            <div class="panel-body" style="min-height: 300px;">
                                                숭실대 측 추론 관련 Internal Info
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row" , style="border: hidden; min-height: 400px;">
                <div class="col-md-12">
                    <div class="panel panel-success">
                        <div class="panel-heading">
                            Butler Recommend
                        </div>
                        <div class="panel-body" style="min-height: 320px;">Example text</div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>

<script>
    function click() {
        alert('클릭');
        iframe1.location.reload();

    }

    ////// (start) for fix 403 forbiddon error //////////////////////////////////////////
    var csrftoken = $.cookie('csrftoken');

    function csrfSafeMethod(method) {
        // these HTTP methods do not require CSRF protection
        return (/^(GET|HEAD|OPTIONS|TRACE)$/.test(method));
    }

    $.ajaxSetup({
        beforeSend: function (xhr, settings) {
            if (!csrfSafeMethod(settings.type) && !this.crossDomain) {
                xhr.setRequestHeader("X-CSRFToken", csrftoken);
            }
        }
    });
    ////// (end) for fix 403 forbiddon error //////////////////////////////////////////


    $('#jess_connect').on('submit', function (event) {
        event.preventDefault();
        test_jess();
    });

    function test_jess() {
        console.log("Testing Jess Connection is working! ");

        $.ajax({
            url: "/smartButler/test/",
            type: "POST",
            data: {},

            success: function (response_var) {
                console.log(response_var);
                alert("Success Reset!");
                <!--웹 페이지 상 경고 창 팝업 -->
            }
        });
    }

    $('#jess_fact_result').on('submit', function (event) {
        event.preventDefault();
        get_facts();
    });

    function get_facts() {
        console.log("Getting Facts Connection is working! ");

        $.ajax({
            url: "/smartButler/facts/",
            type: "POST",
            data: {},

            success: function (json) {
                console.log("Success!");
                alert("Facts Success!");
                console.log(json);

                results = [];

                $.each(json, function (key, value) {
                    console.log(value);
                    results.push("<p>" + value + "</p>");
                });

                $('#json_protocol').val('');
                $('#json_protocol').html(results);
            }
        });
    }

    $('#chat_test').on('submit', function (event) {
        event.preventDefault();
        console.log($('#chat').html());

    });

    function onKeyDown() {
        if (event.keyCode == 13) {
            var input_string = $('#inputGroupSuccess1').val();
            parsed_input_string = "<div class=\"alert alert-info\" role=\"alert\">" + input_string + "</div>";
            var new_string = $('#chat').html() + parsed_input_string + "\n";
            console.log(new_string);
            <!-- 태그 붙인 인풋 스트링-->
            $('#chat').html(new_string);
            $('#inputGroupSuccess1').val('');
            $('#scroll_body').scrollTop($('#scroll_body').prop("scrollHeight"))
        }
    }


</script>
</body>
</html>