<!DOCTYPE html> <!-- Document Type Definition-->
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    {% load staticfiles %}

    <title>Smart Butler</title>

    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.0.3/socket.io.js"></script>

    <!-- Bootstrap -->

    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
          integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"
            integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa"
            crossorigin="anonymous">
    </script>

    <script src="https://d3js.org/d3.v3.min.js"></script>
    <script type="text/javascript"
            src="https://cdnjs.cloudflare.com/ajax/libs/jquery-cookie/1.4.1/jquery.cookie.min.js"></script>
</head>

<body style="background-image: url({% static 'images/back-home.jpg' %});
        background-size: cover;
        background-repeat: no-repeat;
        z-index: -1;">
</body>

<div class="container">
        <div class="col-md-7" , style="border: hidden; min-height: 800px;">
            <div class="row" , style="border: hidden; min-height: 400px;">
                <div class="col-md-12">
                    <div class="row" , style="border: hidden; min-height: 50px;">
                        <div class="col-md-12">
                            <div class="panel" style="border: none; opacity: 0.7;">
                                <div class="panel-heading" style="background-color: #3D495D; padding-bottom: 4px; border: none">
                                    <p style="color: aliceblue; font-size: 20px"> <span class="glyphicon glyphicon-sort"></span> Internal Info
                                    </p>
                                    <!-- @jaesueng : link button test
                                            1. 새창으로 열기
                                            2. 팝업으로 열기
                                    <input type="button" value="Link to Google" onClick="window.open('http://google.com')">
                                    <button onclick="window.open('http://localhost:9000','Pop-up Google',
                                    'width=1000,height=500,left=600,top=100,status=no,
                                    toolbar=no,location=no,menubar=no,titlebar=no,scrollbars=yes');">Pop-up</button>
                                    -->
                                </div>
                                <div class="panel-body" style="min-height: 300px; padding: 0px; border:none">
                                    <div class="col-md-6" ,
                                         style="border: hidden; min-height: 300px;padding-left: 0px; padding-right: 0px">
                                        <div class="row">
                                            <div class="col-md-12">
                                                <div class="panel" style="background-color:#C6CAD2; margin-bottom: 0px; border: none">
                                                    <div class="panel-heading">
                                                        바른 기술 Internal Info
                                                    </div>
                                                    <div class="panel-body"
                                                         style="min-height: 151px; max-height: 151px;overflow:auto;
                                                                 background-image: url({% static 'images/pointing_right.jpg' %});
                                                                 background-color: rgba(248, 247, 216, 0.001);
                                                                 background-repeat: no-repeat;
                                                                 background-cover: cover;
                                                                 -webkit-background-size: cover;
                                                                 -moz-background-size: cover;
                                                                 -o-background-size: cover;">
                                                        <div id="json_protocol">
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="row">
                                            <div class="col-md-12">
                                                <div class="panel" style="margin-bottom: 0px; border: none">
                                                    {#                                            <div class="panel-heading">#}
                                                    {#                                                바른 기술 Internal Info#}
                                                    {#                                            </div>#}
                                                    <div class="panel-body"
                                                         style="min-height: 151px; max-height: 151px;overflow:auto;
                                                                 background-image: url({% static 'images/pointing_left.jpg' %});
                                                                 background-color: rgba(248, 247, 216, 0.001);
                                                                 background-repeat: no-repeat;
                                                                 background-cover: cover;
                                                                 -webkit-background-size: cover;
                                                                 -moz-background-size: cover;
                                                                 -o-background-size: cover;">
                                                        <div id="json_protocol_out">

                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>


                                    </div>
                                    <div class="col-md-6" ,
                                         style="border: hidden; min-height: 300px;padding-left: 0px; padding-right: 0px">
                                        <div class="panel" style="background-color:#C6CAD2; margin-bottom: 0px; border: none">
                                            <div class="panel-heading">
                                                숭실대 추론 Internal Info
                                            </div>
                                            <div class="panel-body"
                                                 style="min-height: 302px; max-height:302px;
                                                         overflow:auto;
                                                         background-image: url({% static 'images/background.jpg' %});
                                                         background-color: rgba(248, 247, 216, 0.001);
                                                         background-repeat: no-repeat;
                                                         background-cover: cover;
                                                         -webkit-background-size: cover;
                                                         -moz-background-size: cover;
                                                         -o-background-size: cover;"
                                                 id="s_json_scroll">
                                                <div id="s_json_protocol">

                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
</div>
</html>