<!DOCTYPE html> <!-- Document Type Definition-->
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <!-- @jaeseung : for TAB -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <link href="https://netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css"
          rel="stylesheet">
    <link href="https://netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap-glyphicons.css"
          rel="stylesheet">
    <link rel="shortcut icon" href="http://rb20.kimsq.co.kr/rb2/layouts/default/assets/ico/favicon.ico">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="http://d3js.org/d3.v3.min.js"></script>
    <script src="https://d3js.org/d3-collection.v1.min.js"></script>
    <script src="d3.legend.js"></script>

    {% load staticfiles %}

    <title>Smart Butler Proactive Service User Profile Learner</title>

    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.0.3/socket.io.js"></script>

    <!-- Bootstrap -->
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
          integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"
            integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa"
            crossorigin="anonymous">
    </script>
    <script src="https://d3js.org/d3.v3.min.js"></script>
    <script type="text/javascript"
            src="https://cdnjs.cloudflare.com/ajax/libs/jquery-cookie/1.4.1/jquery.cookie.min.js"></script>
</head>

<body style="background-image: url({% static 'images/back-home.jpg' %});background-size: cover;background-repeat: no-repeat;z-index: -1;"></body>

<div class="container">
    <div class="row" , style="margin-top: 15px; border: hidden; padding-left: 16px; padding-right:16px; max-height: 77px">
        <!-- 제목부 Smart Butler Reasoner -->
        <div class="jumbotron" style="padding-top: 7px; padding-bottom: 7px; background-color: #222B3A;">
            <!-- HTML은 6단계의 제목을 갖고, <h1> ~ <h6> 단계로 표현됨 -->
            <!-- <h1> Main Title </h1>
            <h2> Top Level Heading </h2>
            <h3> Subheading </h3>
            <h4> Sub-subheading </h4>-->

            <h2 style="color: aliceblue" align="center">Smart Butler Proactive Service User Profile Learner</h2>
            <!-- <p> 요소는 문자의 문단을 포함하기 위한 것; 일반적인 문자 내용을 나타낼 때 많이 사용됨 -->
        </div>
    </div>
    <div class="row" , style="margin-top: 15px; border: hidden; padding-left: 16px; padding-right:16px; max-height: 77px">
        <!-- 제목부 Smart Butler Reasoner -->
        <div class="jumbotron" style="padding-top: 7px; padding-bottom: 7px; background-color: #3D495D;">
            <!-- HTML은 6단계의 제목을 갖고, <h1> ~ <h6> 단계로 표현됨 -->
            <!-- <h1> Main Title </h1>
            <h2> Top Level Heading </h2>
            <h3> Subheading </h3>
            <h4> Sub-subheading </h4>-->
            <div style="color: aliceblue;">
                <select name="userid" id="user_selecter" style="background-color: #3D495D; font-size: 15px; width: 20%">
                    <option value="select"selected disabled hidden>- Select User -</option>
                    <option value="park">Park</option>
                    <option value="kim">Kim</option>
                    <option value="choi">Choi</option>
                </select>
                <select name="season" id="season_selecter" style="background-color: #3D495D; font-size: 15px;  width: 20%">
                    <option value="select"selected disabled hidden>- Select Season -</option>
                    <option value="spring">Spring</option>
                    <option value="summer">Summer</option>
                    <option value="fall">Fall</option>
                    <option value="winter">Winter</option>
                </select>
                <select name="dayweek" id="dayweek_selecter" style="background-color: #3D495D; font-size: 15px; text-align: center;  width: 20%">
                    <option value="select"selected disabled hidden>- Select Day -</option>
                    <option value="weekdays">WeekDays</option>
                    <option value="weekend">WeekEnd</option>
                </select>
                <input type="button" id="btn2" value="Run Profile Learner" style="background-color: #FF6C6C; font-size: 15px; float: right;  width: 19%; margin-top: 7px; margin-right: -7px;" class="btn">
                <input type="button" id="btn1" value="Load Data" style="background-color: #FF6C6C; font-size: 15px; width: 19%;" class="btn">
            </div>
        </div>
    </div>
    <div class="row" , style="margin-top: 10px; border: hidden; min-height: 1000px;">

        <div class="col-md-6" , style="border: hidden; min-height: 800px;">

            <div class="row" , style="border: hidden; min-height: 400px;">
                <div class="col-md-12">
                    <div class="row" , style="border: hidden; min-height: 50px;">
                        <div class="col-md-12">
                            <div class="panel" style="border: none; opacity: 1; height:600px;">
                                <div class="panel-heading" style="background-color: #3D495D; padding-bottom: 4px; border: none">
                                    <p style="color: aliceblue; font-size: 20px"> <span class="glyphicon glyphicon-folder-open"></span> User Profile Data
                                    </p>
                                </div>
                                <div class="panel-body" style="min-height: 300px; padding: 0px; border:none;">
                                    <div class="w3-bar w3-black">
                                        <button class="w3-bar-item w3-button tablink1 w3-red" onclick="openTab1(event,'Device1_1')" style="width: 20%;">AirConditioner</button>
                                        <button class="w3-bar-item w3-button tablink1" onclick="openTab1(event,'Device2_1')" style="width: 20%;">AirCleaner</button>
                                        <button class="w3-bar-item w3-button tablink1" onclick="openTab1(event,'Device3_1')" style="width: 20%;">Bulb</button>
                                        <button class="w3-bar-item w3-button tablink1" onclick="openTab1(event,'Device4_1')" style="width: 20%;">RobotCleaner</button>
                                        <button class="w3-bar-item w3-button tablink1" onclick="openTab1(event,'Device5_1')" style="width: 20%;">TV</button>
                                    </div>
                                    <div id="Device1_1" class="tab1" style="border: none; overflow:auto; height: 500px;"></div>
                                    <div id="Device2_1" class="tab1" style="display:none; overflow:auto; height: 500px;"></div>
                                    <div id="Device3_1" class="tab1" style="display:none; overflow:auto; height: 500px;"></div>
                                    <div id="Device4_1" class="tab1" style="display:none; overflow:auto; height: 500px;"></div>
                                    <div id="Device5_1" class="tab1" style="display:none; overflow:auto; height: 500px;"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-6" , style="border: hidden; min-height: 1000px;">
            {% csrf_token %}
            <div class="row" , style="margin-top: 0px; border: hidden; min-height: 1000px;">
                <div class="col-md-12">
                    <div class="row" , style="border: hidden; min-height: 400px;">
                        <div class="col-md-12">
                            <div class="row" , style="border: hidden; min-height: 50px;">
                                <div class="col-md-12">
                                    <div class="panel" style="border: none; opacity: 1; height:600px;">
                                        <div class="panel-heading" style="background-color: #3D495D; padding-bottom: 4px; border: none">
                                            <p style="color: aliceblue; font-size: 20px"> <span class="glyphicon glyphicon-stats"></span> Learned User Profile</p>
                                        </div>
                                        <div class="panel-body" style="min-height: 300px; padding: 0px; border:none;">
                                            <div class="w3-bar w3-black">
                                                <button class="w3-bar-item w3-button tablink2 w3-red" onclick="openTab2(event,'Device1_2')" style="width: 20%;">AirConditioner</button>
                                                <button class="w3-bar-item w3-button tablink2" onclick="openTab2(event,'Device2_2')" style="width: 20%;">AirCleaner</button>
                                                <button class="w3-bar-item w3-button tablink2" onclick="openTab2(event,'Device3_2')" style="width: 20%;">Bulb</button>
                                                <button class="w3-bar-item w3-button tablink2" onclick="openTab2(event,'Device4_2')" style="width: 20%;">RobotCleaner</button>
                                                <button class="w3-bar-item w3-button tablink2" onclick="openTab2(event,'Device5_2')" style="width: 20%;">TV</button>
                                            </div>
                                            <div id="Device1_2" class="tab2" style="border: none; height: 500px; width: 550px; position: absolute;"></div>
                                            <div id="Device2_2" class="tab2" style="visibility:hidden; border: none; height: 500px; width: 550px; position: absolute;"></div>
                                            <div id="Device3_2" class="tab2" style="visibility:hidden; border: none; height: 500px; width: 550px; position: absolute;"></div>
                                            <div id="Device4_2" class="tab2" style="visibility:hidden; border: none; height: 500px; width: 550px; position: absolute;"></div>
                                            <div id="Device5_2" class="tab2" style="visibility:hidden; border: none; height: 500px; width: 550px; position: absolute;"></div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
<script>
    // using jQuery
    function getCookie(name) {
        var cookieValue = null;
        if (document.cookie && document.cookie != '') {
            var cookies = document.cookie.split(';');
            for (var i = 0; i < cookies.length; i++) {
                var cookie = jQuery.trim(cookies[i]);
                // Does this cookie string begin with the name we want?
                if (cookie.substring(0, name.length + 1) == (name + '=')) {
                    cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                    break;
                }
            }
        }
        return cookieValue;
    }
    function csrfSafeMethod(method) {
        // these HTTP methods do not require CSRF protection
        return (/^(GET|HEAD|OPTIONS|TRACE)$/.test(method));
    }
    $(document).ready(function() {
        var csrftoken = getCookie('csrftoken');
        $.ajaxSetup({
            beforeSend: function(xhr, settings) {
                if (!csrfSafeMethod(settings.type) && !this.crossDomain) {
                    xhr.setRequestHeader("X-CSRFToken", csrftoken);
                }
            }
        });
    });
    $(document).ready(function(){ {% comment %} 민성 load data 버튼 누를시 ajax {% endcomment %}
        $("#btn1").click(function(){
            document.getElementById("Device1_1").innerHTML="<img src=\"{% static 'images/progress.gif' %}\" style=\"margin-left: 48%; margin-top: 40%;\">";
            document.getElementById("Device2_1").innerHTML="<img src=\"{% static 'images/progress.gif' %}\" style=\"margin-left: 48%; margin-top: 40%;\">";
            document.getElementById("Device3_1").innerHTML="<img src=\"{% static 'images/progress.gif' %}\" style=\"margin-left: 48%; margin-top: 40%;\">";
            document.getElementById("Device4_1").innerHTML="<img src=\"{% static 'images/progress.gif' %}\" style=\"margin-left: 48%; margin-top: 40%;\">";
            $("#Device1_2").empty()
            $("#Device2_2").empty()
            $("#Device3_2").empty()
            $("#Device4_2").empty()
            $("#Device5_2").empty()
            var sel1 = document.getElementById("user_selecter").value;
            var sel2 = document.getElementById("season_selecter").value;
            var sel3 = document.getElementById("dayweek_selecter").value;
            $.ajax({
                url:"/profilelearner/LoadData/",
                dataType:'html',
                type:'POST',
                data:{sel1:sel1,sel2:sel2,sel3:sel3},
                success:function(result){
                        result_s = result.indexOf("<table")
                        result_e = result.indexOf("</table")+8
                        dev1_result = result.slice(result_s, result_e)

                        result_s = result_e
                        result_e = result.indexOf("</table", + result_e+10)+8
                        dev2_result = result.slice(result_s, result_e)

                        result_s = result_e
                        result_e = result.indexOf("</table", + result_e+10)+8
                        dev3_result =  result.slice(result_s, result_e)

                        result_s = result_e
                        result_e = result.indexOf("</table", + result_e+10)+8
                        dev4_result =  result.slice(result_s, result_e)

                        result_s = result_e
                        result_e = result.indexOf("</table", + result_e+10)+8
                        dev5_result =  result.slice(result_s, result_e)

                        $('#Device1_1').html(dev1_result);
                        $('#Device2_1').html(dev2_result);
                        $('#Device3_1').html(dev3_result);
                        $('#Device4_1').html(dev4_result);
                        $('#Device5_1').html(dev5_result);
                },
                error: function(){
                    alert("MUST SELECT");
                    $("#Device1_1").empty()
                    $("#Device2_1").empty()
                    $("#Device3_1").empty()
                    $("#Device4_1").empty()
                    $("#Device5_1").empty()
               }
            });
        });
    });
    $(document).ready(function(){ {% comment %} 민성 Run Profile Learner 버튼 누를시 ajax {% endcomment %}
        $("#btn2").click(function(){
            document.getElementById("Device1_2").innerHTML="<img src=\"{% static 'images/progress.gif' %}\" style=\"margin-left: 48%; margin-top: 40%;\">";
            document.getElementById("Device2_2").innerHTML="<img src=\"{% static 'images/progress.gif' %}\" style=\"margin-left: 48%; margin-top: 40%;\">";
            document.getElementById("Device3_2").innerHTML="<img src=\"{% static 'images/progress.gif' %}\" style=\"margin-left: 48%; margin-top: 40%;\">";
            document.getElementById("Device4_2").innerHTML="<img src=\"{% static 'images/progress.gif' %}\" style=\"margin-left: 48%; margin-top: 40%;\">";
            var sel1 = document.getElementById("user_selecter").value;
            var sel2 = document.getElementById("season_selecter").value;
            var sel3 = document.getElementById("dayweek_selecter").value;
            $.ajax({
                url:"/profilelearner/RunProfileLearner/",
                dataType:'json',
                type:'POST',
                data:{sel1:sel1,sel2:sel2,sel3:sel3},
                success:function(result){
                    google.charts.load('current', {'packages':['corechart']});
                    google.charts.setOnLoadCallback(drawChart1);
                    google.charts.setOnLoadCallback(drawChart2);
                    google.charts.setOnLoadCallback(drawChart3);
                    google.charts.setOnLoadCallback(drawChart4);
                    google.charts.setOnLoadCallback(drawChart5);
                    function drawChart1() {  //AirConditioner
                        var data = google.visualization.arrayToDataTable(result[0]);
                        var options = {
                            curveType: 'none',
                            hAxis: {
                                title: 'Temperature'
                            },
                            vAxis: {
                                title: 'On/Off'
                            }
                        };
                        var chart = new google.visualization.LineChart(document.getElementById('Device1_2'));
                        chart.draw(data, options);
                    }

                    function drawChart2() {  //AirCleaner
                        var data = google.visualization.arrayToDataTable(result[1]);
                        var options = {
                            curveType: 'none',
                            hAxis: {
                                title: 'Fine dust concentration'
                            },
                            vAxis: {
                                title: 'On/Off'
                            }
                        };
                        var chart = new google.visualization.LineChart(document.getElementById('Device2_2'));
                        chart.draw(data, options);
                    }

                    function drawChart3() {  //Bulb
                        var data = google.visualization.arrayToDataTable(result[2]);
                        var options = {
                            curveType: 'function',
                            hAxis: {
                                title: 'Time'
                            },
                            vAxis: {
                                title: 'Probability'
                            }
                        };
                        var chart = new google.visualization.LineChart(document.getElementById('Device3_2'));
                        chart.draw(data, options);
                    }

                    function drawChart4() {  //RobotCleaner
                        var data = google.visualization.arrayToDataTable(result[3]);
                        var options = {
                            curveType: 'function',
                            hAxis: {
                                title: 'Time'
                            },
                            vAxis: {
                                title: 'Probability'
                            }
                        };
                        var chart = new google.visualization.LineChart(document.getElementById('Device4_2'));
                        chart.draw(data, options);
                    }

                    function drawChart5() {  //TV
                        var data = google.visualization.arrayToDataTable(result[4]);
                        var options = {
                            curveType: 'function',
                            hAxis: {
                                title: 'Time'
                            },
                            vAxis: {
                                title: 'Probability'
                            }
                        };
                        var chart = new google.visualization.LineChart(document.getElementById('Device5_2'));
                        chart.draw(data, options);
                    }
                },
                error: function(){
                    alert("MUST SELECT");
                    $("#Device1_2").empty()
                    $("#Device2_2").empty()
                    $("#Device3_2").empty()
                    $("#Device4_2").empty()
                    $("#Device5_2").empty()
               }
            });
        });
    });
</script>
<script>
    // @jaeseung : Tab activate function
    function openTab1(evt, tabName) {
        var i, x, tablinks;
        x = document.getElementsByClassName("tab1");
        for (i = 0; i < x.length; i++) {
            x[i].style.display = "none";
        }
        tablinks = document.getElementsByClassName("tablink1");
        for (i = 0; i < x.length; i++) {
            tablinks[i].className = tablinks[i].className.replace(" w3-red", "");
        }
        document.getElementById(tabName).style.display = "block";
        evt.currentTarget.className += " w3-red";
    }
    function openTab2(evt, tabName) {
        var i, x, tablinks;
        x = document.getElementsByClassName("tab2");
        for (i = 0; i < x.length; i++) {
            x[i].style.visibility = "hidden";
        }
        tablinks = document.getElementsByClassName("tablink2");
        for (i = 0; i < x.length; i++) {
            tablinks[i].className = tablinks[i].className.replace(" w3-red", "");
        }
        document.getElementById(tabName).style.visibility = "visible";
        evt.currentTarget.className += " w3-red";
    }
</script>
</body>
</html>